# 1.Trabalho final de análise

# Dataset sobre jogos

# Importando módulos

In [7]:
# Importando módulos

import numpy as np
import pandas as pd
import seaborn as sns #Biblioteca de gráficos
import matplotlib.pyplot as plt

# Carregando dataset

In [3]:
#Carregando o dataset

df = pd.read_csv('vgsales.csv')

# Verificando primeiras e últimas linhas

In [4]:
#Verificando as primeiras e últimas linhas do dataset
'''
    Fazemos isso para vermos se há algum erro nas primeiras linhas, caso houver, já fazemos 
as adequações necessárias para a correção do dataset.
'''

df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
#Verificação das linhas finais do dataset
'''
    Podemos ver com essa verificação, que esse dataset possui 16.597 linhas.
'''
df.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

# Avaliando a dimensionalidade do dataset

In [9]:
#Avaliando a dimensionalidade do dataset
'''
    Podemos observar que o dataset é disposto em 16.598 linhas por 11 colunas.
'''
df.shape

(16598, 11)

In [10]:
#o len neste caso serve para verificarmos quantas linhas ao total temos no nosso dataframe
len(df)

16598

In [12]:
#Verificação de quantas colunas há em nosso dataframe
len(df.columns)

11

# Verificando colunas

In [13]:
#Verificando colunas
'''
    Este método me trás as colunas que possuo no meu dataframe em formato de lista.
'''
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

# Verificação de dados nulos

In [15]:
# Verificando se há dados nulos
'''
    Nesta função estou perguntando se algum dado no meu dataframe é nulo, neste caso ele me retorna
    um valor booleano.
'''
df.isnull().values.any()

True

In [16]:
#Contando dados nulos por coluna

df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

# Medidas de centralidade

In [17]:

#Cálculando a média de cada variável dentro do dataframe
'''
    ao executar o método, irá aparecer um aviso de erro(apenas um aviso), pelo motivo da minha primeira coluna ser
    do tipo não númerico, com isso ele me informa que em  versões futuras  isso pode me retornar um erro.
'''

df.mean()

C:\Users\thiag\AppData\Local\Temp\ipykernel_11592\3081984661.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Rank            8300.605254
Year            2006.406443
NA_Sales           0.264667
EU_Sales           0.146652
JP_Sales           0.077782
Other_Sales        0.048063
Global_Sales       0.537441
dtype: float64

In [18]:
#Mediana
'''
    Cálculando a médiana de cada variável dentro do dataframe
'''

df.median()

C:\Users\thiag\AppData\Local\Temp\ipykernel_11592\2439612424.py:6: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Rank            8300.50
Year            2007.00
NA_Sales           0.08
EU_Sales           0.02
JP_Sales           0.00
Other_Sales        0.01
Global_Sales       0.17
dtype: float64

In [20]:
#Comparando
'''
    Aqui estou criando um dataframe vazio, preenchendo minha coluna media com o resultado do meu df.mean(que é a média que fiz 
    lá em cima), a mesma coisa faço para a coluna mediana, preencho a coluna com os valores obtidos no método que fiz lá em cima.
    
    Isto é apenas para fazermos uma comparação dos valores de media e mediana do dataframe lado a lado.
'''
comp = pd.DataFrame()
comp['media'] = df.mean()
comp['mediana'] = df.median()
comp

C:\Users\thiag\AppData\Local\Temp\ipykernel_11592\3896888555.py:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  comp['media'] = df.mean()
C:\Users\thiag\AppData\Local\Temp\ipykernel_11592\3896888555.py:10: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  comp['mediana'] = df.median()

                    media  mediana
Rank          8300.605254  8300.50
Year          2006.406443  2007.00
NA_Sales         0.264667     0.08
EU_Sales         0.146652     0.02
JP_Sales         0.077782     0.00
Other_Sales      0.048063     0.01
Global_Sales     0.537441     0.17

In [21]:
#Moda

df.mode()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Need for Speed: Most Wanted,DS,2009.0,Action,Electronic Arts,0.0,0.0,0.0,0.0,0.02
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16594,16597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16595,16598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16596,16599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16597,16600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN